/* Global container */
[data-testid="stApp"] {
    --background-color: #222222;
    --secondary-background-color: #1500f600;
    --text-primary: #f0f0f0;
    --border-primary: #444;
    --accent-color-title: #58f7ff;
    --accent-color-sidebar-header: #0d0d15;
    --accent-color-header: #020209b2;
    --accent-color-subheader: #ffcc80;
    --chart-background: #333;
}

.title {
    font-size: 5em !important;
    text-align: center;
    color: var(--accent-color-title) !important;
}